:root {
  --primaryCust: #e9e9e9;
  --secondaryCust: #ffffff;
  --tertiaryCust: #118556;
  --goldCust: #14a76c;
  --textColorCust: #000000;
}
[class="dark-theme"] {
  --primaryCust: #151514 !important;
  --secondaryCust: #333533 !important;
  --tertiaryCust: #6f716f !important;
  --goldCust: #f5cb5c !important;
  --textColorCust: white !important;
}
.primary-cust-text {
  color: var(--textColorCust) !important;
}
video {
  width: 100%;
}
.MuiBadge-colorPrimary {
  color: var(--primaryCust) !important;
  background-color: var(--goldCust) !important;
}
.MuiBadge-anchorOriginTopRightRectangle {
  top: 0;
  right: 0;
  transform: none !important;
  transform-origin: 100% 0%;
}
html {
  overflow-x: hidden;
  font-family: "Belleza", sans-serif;
}
body {
  background: var(--primaryCust);
}
.gold-text-cust {
  color: var(--goldCust) !important;
}
.primary-bg-cust {
  background: var(--primaryCust) !important;
}
.secondary-bg-cust {
  background: var(--secondaryCust) !important;
}
.primary-border {
  border: 2px solid var(--textColorCust) !important;
}
.nav-div {
  width: 100%;
  padding: 10px;
  color: var(--textColorCust);
  box-shadow: 0px 1px 5px var(--textColorCust);
  overflow-x: hidden;
  background: var(--primaryCust);
  opacity: 1;
  transition: all 0.5s ease;
}
.MuiPaper-root {
  background: var(--primaryCust) !important;
}
.footer-div {
  width: 100%;
  padding: 10px;
  color: var(--textColorCust);
  overflow-x: hidden;
  background: var(--primaryCust);
  box-shadow: 0px -1px 5px var(--textColorCust);
}
.nav-btn {
  border: none;
  background: transparent;
  color: var(--textColorCust);
  font-weight: bold;
  display: inline-block;
  border-width: 5px;
  border-top-style: solid;
  border-top-color: var(--textColorCust);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-btn:hover {
  color: var(--goldCust);
  border-top-color: var(--goldCust);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.nav-btn.active {
  color: var(--goldCust);
  border-top-color: var(--goldCust);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.nav-top-btn {
  border: 2px solid var(--tertiaryCust);
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 7rem;
  background: var(--tertiaryCust);
  color: var(--textColorCust);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-top-btn:hover {
  background: var(--secondaryCust);
  border: 2px solid var(--goldCust);
  color: var(--goldCust);
}
.card-btn {
  border: 2px solid var(--tertiaryCust);
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 7rem;
  background: var(--tertiaryCust);
  color: var(--textColorCust);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-btn.checkout-btn {
  width: 100%;
  padding: 10px 20px;
}
.card-btn.cart-btn {
  width: 100%;
  padding: 2px 5px;
}
.card-btn:hover {
  background: var(--secondaryCust);
  border: 2px solid var(--goldCust);
  color: var(--goldCust);
}
.main-div {
  background: var(--primaryCust);
  color: var(--textColorCust);
}
.App {
  background: var(--primaryCust);
  color: var(--textColorCust);
}
.home-col-2-bg {
  background: var(--secondaryCust);
  color: var(--textColorCust);
}
.close {
  color: var(--textColorCust) !important;
}
